In [2]:
print('Hello')

Hello

In [3]:
import pandas as pd
# data used for the example (stored in Lists)
states = ["California", "Texas", "Florida", "New York"] 
population= [39613493, 29730311, 21944577, 19299981]
#Storing lists within a dictionary
dict_states= {'States': states, 'Population': population}
#Creating the dataframe
df_population= pd. DataFrame.from_dict(dict_states)
df_population

       States  Population
0  California    39613493
1       Texas    29730311
2     Florida    21944577
3    New York    19299981